*{
    margin: 0;
    padding: 0;
    color: white;
}

#navbar{
    background: rgb(11, 11, 11);
    height: 60px;
    text-decoration: none;
}
button{
    background-color: #ce7808;

}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.contentBox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#content{
    height: 700px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}